/**
 * @Author: ankit
 * @Date:   2019-04-01T14:42:03+05:30
 * @Email:  ankit@minance.com
 * @Last modified by:   ankit
 * @Last modified time: 2019-04-01T16:01:42+05:30
 * @Copyright: Minance Technologies Private Limited
 */
.CustomTooltip {
  position: relative;
  display: inline-block;
}

.TooltipText {
  visibility: hidden;
  background-color: #e7b770;
  text-align: center;
  border-radius: 6px;
  min-width: 120px;
  max-width: 280px;
  z-index: 10;
  line-height: 1.14;
}
.TooltipText::after {
  content: " ";
  position: absolute;
}

.TooltipText-right {
  padding: 5px 5px;
  position: absolute;
  top: -5px;
  left: 110%;
}

.TooltipText-right::after {
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #e7b770 transparent transparent;
}


.TooltipText-left {
  padding: 5px 0;
  position: absolute;
  top: -5px;
  right: 110%;
}

.TooltipText-left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #e7b770;
}

.TooltipText-top {
  padding: 5px 0;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.TooltipText-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #e7b770 transparent transparent transparent;
}

.TooltipText-bottom {
  padding: 5px 0;
  position: absolute;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.TooltipText-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #e7b770 transparent;
}

.CustomTooltip:hover .TooltipText {
  visibility: visible;
}
